fastapi
uvicorn
pydantic
openai
python-dotenv
python-multipart
boto3
email-validator
pydantic[email]
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers
motor
rapidfuzz
httpx
langgraph
langchain-core
langchain-openai
PyPDF2
chromadb
rank-bm25
numpy
langchain-text-splitters
pandas